<header class="header">
  <nav>
    <ul>
      <li><strong><a href="/">{{ metadata.title | safe }}</a></strong></li>
    </ul>
    <ul>
      <li><a href="/films/">Films</a></li>
      <li><a href="/people/">People</a></li>
      <li><a href="/locations/">Locations</a></li>
      <li><a href="/species/">Species</a></li>
      <li><a href="/vehicles/">Vehicles</a></li>
    </ul>
  </nav>
</header>