<header class="header">
  <nav>
    <ul>
      <li><strong><a href="{{ '/' | url }}">{{ metadata.title | safe }}</a></strong></li>
    </ul>
    <ul>
      <li><a href="{{ '/films/' | url }}">Films</a></li>
      <li><a href="{{ '/people/' | url }}">People</a></li>
      <li><a href="{{ '/locations/' | url }}">Locations</a></li>
      <li><a href="{{ '/species/' | url }}">Species</a></li>
      <li><a href="{{ '/vehicles/' | url }}">Vehicles</a></li>
    </ul>
  </nav>
</header>